@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=REM:ital@1&display=swap');

body {
    font-family: 'REM', sans-serif;
}

     
 /************* container ********************/

.fluid-container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container{
    max-width: 600px;
    margin: auto;
}

       /************** links *******************/
    h2{
        color: brown;

    }
    .link{
        text-decoration: none;
        padding: 0.5rem 1rem;

    }
    .first-link{
        background-color: powderblue;
        color: rgb(148, 63, 63);
        padding: 5px 5px;
        text-decoration: none;
        display: inline-block;
        border-radius: 1rem;
        
    }
    .sec-link{
        background-color: cadetblue;
        color: chartreuse;
        padding: 5px 5px;
        display: inline-block;
        border-radius: 1rem;
    }
    .sec-link:hover{
        background-color: grey;
        color: aliceblue;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 1rem;
    }

    /***** list *****/

    .list1{
        list-style: none;
    }

    .inline-list{
        display: inline;
        padding: 0.5rem 1rem;
    }

    /******** navigation *********/

    .nav{
        background-color: aquamarine;
        padding: 1rem;
        border-top-right-radius: 1rem;
        text-align: center;
        
     }
     .nav .nav-div{
        font-weight: bold;
     }

     
     .nav .link{
        color: rgb(73, 128, 177);
     }

      .list-item-inline{
        font-weight: bold;
        display: inline;
        padding: 0rem 0.5rem;

     }


     /************** header **************/

     .h{
        padding: 2rem;
     }
     .h .h-img{
        max-width: 350px;
        display: block;
        text-align: center;
     }
      .h-title{
        font-weight: bold;
        color: rgb(73, 54, 29);

        
     }

     /*************** section ******************/

     .section{
        padding: 1rem;
     }
     .section h3{
        color: cadetblue;
        text-align: center;
     }
     .section p{
        text-align: center;
        background-color: rgb(176, 212, 176);
        border-radius: 1rem;
        color: green;
     }

     .section a{
        padding: 0rem 1rem;
        color: rgb(43, 62, 63);
     }

     /***************** footer *******************/

     .footer{
        background-color: bisque;
        padding: 2rem 1rem;
        border-top-right-radius: 1rem;
        text-align: center;
     }
     .footer .f-title{
        color: rgb(18, 18, 104);
        font-weight: bold;
        text-align: center;
     }
     
     
     
     