@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=REM:ital@1&display=swap');

body {
    font-family: 'REM', sans-serif;
}

     
/**container**/

.fluid-container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.center-container{
    max-width: 600px;
    margin: auto;
}

       /***** links *****/
    h2{
        color: brown;

    }
    .link{
        text-decoration: none;
        padding: 0.5rem 1rem;

    }
    .first-link{
        background-color: powderblue;
        color: rgb(148, 63, 63);
        padding: 5px 5px;
        text-decoration: none;
        display: inline-block;
        border-radius: 1rem;
        
    }
    .sec-link{
        background-color: cadetblue;
        color: chartreuse;
        padding: 5px 5px;
        display: inline-block;
        border-radius: 1rem;
    }
    .sec-link:hover{
        background-color: grey;
        color: aliceblue;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 1rem;
    }

    /***** list *****/

    .list1{
        list-style: none;
    }

    .inline-list{
        display: inline;
        padding: 0.5rem 1rem;
    }

    /******** navigation *********/

    .nav{
        background-color: aquamarine;
        padding: 1rem;
        
     }
     .nav .nav-div{
        font-weight: bold;
     }

     
     .nav .link{
        color: rgb(73, 128, 177);
     }

     .nav .list-item-inline{
        font-weight: bold;
     }